*{
  margin: 0px;
  padding: 0px;  
    
}
.asif{
    display: flex;
    height:     50px;
    background-color: #316dc3;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}
.marks, .life, .uk{
    width: 30%;
}
.marks{
flex: 1;
justify-content: stretch;
margin-left: 50px;
padding: 10px;
}
.life{
flex: 3;
text-align: center;
color: white;
padding: 10px;
}
.uk{
    flex:1.5;
    padding: 10px;
}
.but{
    font-size: 15px;
}
.basic{
    display: flex;
    height: 90px;
    justify-content: space-around;
}
.abc{
    background-color: white;
}
.logo{
    flex:2;
}
.nav ul{
    flex: 4;
    float: right;
}
ul{

    list-style: none;
    width: 65%;
    display: 
}

ul li{
    display: inline-block;
    background-color:white;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    width: 13%;
    

}

ul li a{
    text-decoration: none;
    width: 20px;
    
    padding: 
    border-radius: 20px;
    transition: 0.6s ease ;

}

.active, ul li a:hover {
    background-color:#316dc3;
    border-radius: 20px;
    text-align: center;
    color: white;
}

ul li ul li{
    display: none;
}

ul li:hover ul li {
    display: block;
    text-align: center;
}

 #logo{
     flex: 1;
    width: 200px;
    height: auto;
    justify-content: space-around;
}
.main{
    max-width: 1200px;
    margin: auto;
    background-color: white;
}

    
h1{
    text-align: center;
    color: greenyellow;
}

.figures{
    width: 100%;
    height: 250px;
    background-color: #316dc3;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dast{
    color: white;
    font-size: 20px;
    
}
.num{
    font-size: 50px;
}

.icon{
    width: 65px;
    margin-left: 48%;
}
.ticker{
    width: 80%;
    height: 20px;
    margin-left:20px;
    margin-right:20px;
    background-color:#316dc3;
}
.para{
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 5px;
    padding: 80px;
    line-height: 1.9;
    font-family: sans-serif;
    text-align: left;
    box-sizing: border-box;
}
.head{
    font-size: 35px;
    font-weight: bold;
}
.grid{
    display: block;
    background-color: white;
    width: 100%;
    height: 500px;
    

}


.one, .two, .three, .four, .five, .six{
    width: 25%;
    height: 180px;
    background-color:white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}
.first{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.second{
    display: flex;
    justify-content: space-around;
}
H5{
    text-align: center;
    font-size: 25PX;
    color: #316dc3;
}

.sadqah{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.welfare{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
   

}

.liv{
    width: 40px;
    justify-content: space-around;
}
.new{
    display: flex;
    width: 100%;
    height: 400px;
}
.mission{
    display: block;
    background-color: white;
    width: 60%;
    height: 300px;
}   

.hepa{
    width: 50%;
    height: 80px;
    background-color:white;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}
a{
    width: 30px;
    margin: 20px;
}
.project{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
h3{
    color: #316dc3;
}
.events{
    display: inline-block;
    width: 30%;
    height: 300px;
    background-color:white;
    margin: 5px;
}
.gallery{
    display: block;
    width: 100%;

}
.gallery2{
    width: 240px;
}
.gallery1{
    margin: 2px;
    }
a:hoover{
    background-color: white;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: #100c08;
    color: #666666;
    display: flex;

}

.f1{
    margin-left: 40px;
    margin-top: 50px;
    padding: 30px;
    width: 32%;
}
.f2{
    padding: 50px;
    margin-left: 0px;
    margin-top: 25px;
    width: 25%;
    text-align: left;
    color: white;
}
.f3{

    padding: 50px;
    margin-left: 0px;
    margin-top: 25px;
    width: 25%;
    text-align: left;
    color: white;
}
.media{
    display: flex;
    justify-content: space-evenly;

    
}
a{
    height: 30px;
    width: 60px;
    background-color: #316dc3;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 30px;
}
.fa-facebook{
    color: white;
}
a i{
    transition: all 0.3s linear;
}
.fa-twitter, .fa-instagram, .fa-youtube{
    color: white;
}