*{
  margin: 0px;
  padding: 0px;  
    
}

ul{

    list-style: none;
    float: right;
    width: 65%;
    display: 
}

ul li{
    display: inline-block;
    background-color:white;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    width: 13%;
    

}

ul li a{
    text-decoration: none;
    width: 20px;
    
    padding: 
    border-radius: 20px;
    transition: 0.6s ease ;

}

.active, ul li a:hover {
    background-color:#316dc3;
    border-radius: 20px;
    text-align: center;
    color: white;
}

ul li ul li{
    display: none;
}

ul li:hover ul li {
    display: block;
    text-align: center;
}

 #logo{
     flex: 1;
    float: left;
    width: 200px;
    height: auto;
    justify-content: space-around;
}
.main{
    max-width: 1200px;
    margin: auto;
    background-color: white;
}

    
h1{
    text-align: center;
    color: greenyellow;
}

.figures{
    width: 100%;
    height: 250px;
    background-color: #316dc3;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dast{
    color: white;
    font-size: 20px;
    
}
.num{
    font-size: 50px;
}

.icon{
    width: 65px;
    margin-left: 48%;
}
.ticker{s
    width: 80%;
    height: 20px;
    margin-left:20px;
    margin-right:20px;
    background-color:#316dc3;
}
.para{
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 5px;
    padding: 80px;
    line-height: 1.9;
    font-family: sans-serif;
    text-align: left;
    box-sizing: border-box;
}
.head{
    font-size: 35px;
    font-weight: bold;
}
.grid{
    display: block;
    background-color: white;
    width: 100%;
    height: 500px;
    border: 1px solid grey;

}
.one, .two, .three, .four, .five, .six{
    width: 25%;
    height: 150px;
    background-color:white;
    margin: 10px;
    padding: 30px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}
.first{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.second{
    display: flex;
    justify-content: space-around;
}
H5{
    text-align: center;
    font-size: 25PX;
    color: #316dc3;
}

.sadqah{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.welfare{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
   

}
    
